{% extends "layout.html" %} {% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-10">
            <h2>Juegos Disponibles</h2>
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td>Imagen</td>
                    </tr>
                </thead>
                <tbody>
                    {% for juego in juegos %}
                    <tr>
                        <td>{{juego["nombre"]}}</td>
                        <td>{{juego["precio"]}}</td>
                        <td><img src="{{juego['imagen']}}" alt="" height="300" width="150"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}